# Testing
pytest==7.4.4
pytest-asyncio==0.21.1

# Async & Web
httpx==0.28.1
asyncpg==0.30.0
aioredis==2.0.1
web3==7.10.0
uvicorn==0.34.2
fastapi==0.115.12

# Redis & Celery
celery==5.3.6
redis==5.2.1
flower==2.0.1

# DB & ORM
SQLAlchemy==2.0.40

# Utils
loguru==0.7.3
requests==2.32.3
python-dotenv==1.1.0
setuptools==79.0.0

# Other
anyio==4.3.0
